/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@500&family=Ubuntu&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    margin: 0;
}

.container {
    width: 1100px;


}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Banner Style */
.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #161616;
    color: #ffffff;
    margin-top: 30px;
    border-radius: 30px;
}

.banner-titles {
    width: 60%;
    text-align: start;
    padding: 15%;
}

.banner.h1 {
    font-size: 70px;
    font-weight: 700;


}

.banner-image {

    margin-top: 90px;
}

.button a {
    text-decoration: none;
    color: #ffffff;
    background-color: #ff5e00;
    width: 120px;
    padding: 7px;
    border-radius: 3px;
    font-size: 10px;
    border: 1px solid #2c2b2b;

}

/* Update section style  */
.update-top {
    display: flex;

}

.update {
    margin-top: 50px;
}

.navigation {
    width: 190px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #161616;
    padding: 15px 10px 15px 15px;
    border-radius: 10px;
}

.navigation a {
    background-color: #ffffff;
    color: black;
    border-radius: 3px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    width: 160px;
    margin: 5px;
    padding: 7px 5px 7px 5px;

}

.no-use {
    visibility: hidden;
}



.matches {
    display: grid;
    grid-template-columns: 290px 290px 290px;
    margin-left: 10px;
}

.match {
    padding-top: 20px;
    width: 280px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0px 10px 10px 10px;
    padding-bottom: 10px;
}

.match-pic img {
    width: 120px;
    padding: 3px;
    margin-left: 1px;

}

.match-pic {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.match-vs {
    text-align: center;
}




/* footer section  */
footer {
    text-align: center;
    margin: 80px 0px 0px 0px;
    padding-top: 100px;
    height: 300px;
    background-color: black;
    color: #ffffff;
}

footer hr {
    width: 1100px;
    border: 1px solid white;
    opacity: 80%;
}

.footer-nav {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 30px;
}

footer a {
    text-decoration: none;
    color: #c2bbbb;
    font-size: 14px;
}